registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/
selenium_cdnurl=https://npmmirror.com/mirrors/selenium/
node-sass_binary_site=https://npmmirror.com/mirrors/node-sass/
sass_binary_site=https://npmmirror.com/mirrors/sass/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
puppeteer_download_host=https://npmmirror.com/mirrors/puppeteer/
